

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "./fonts" !default;


// Include all of Ionic
@import "../lib/ionic/scss/ionic";





.swiper-slide{
  display: block;
  width: 100%;
}

.swiper-wrapper {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
}




