<h6>patrimonio-donut</h6>
  <code>
    <div class="list">
      <div class="item item-button-right" ng-repeat="c in $ctrl.data track by $index" ng-class='{"active": $index == $ctrl.active.active }'
        ng-click="$ctrl.rotate($index)">
        {{c.id}}: {{c.name}} ({{c.amount}}€)
        <button class="button button-clear button-stable" ">
      <i class="icon ion-ios-arrow-right "></i>
    </button>
  </div>
</div>
