<h6>patrimonio-slider</h6>
<ion-slides options="$ctrl.options" slider="$ctrl.sliderDelegate">
  <ion-slide-page ng-repeat="item in $ctrl.data track by $index">
    <patrimonio-account data="item" on-change="$ctrl.setIndex($index)"></patrimonio-account>
  </ion-slide-page>
</ion-slides>
