<h6>patrimonio-container</h3> 
<patrimonio-donut active="$ctrl.activeIndexObject" data="$ctrl.accounts" on-rotate="$ctrl.setIndex(i)"></patrimonio-donut>
<patrimonio-slider active="$ctrl.activeIndexObject" data="$ctrl.accounts" on-slide="$ctrl.setIndex(i)"></patrimonio-slider>
