<p>@ Ciao {{$ctrl.nomeStringa}} benvenuto in questo Component/Direttiva</p>
<p>> Ciao {{$ctrl.nome1Way}} (1 way)</p>
<p>= Ciao {{$ctrl.nome2Way}} (2 way)</p>
<p>= Ciao {{::$ctrl.nome2Way}} (2 way con  ::) </p>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Input nel figlio per il nome1Way</span>
    <input ng-model="$ctrl.nome1Way" type="text" placeholder="nome1Way">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Input nel figlio per il nome2Way</span>
    <input  ng-model="$ctrl.nome2Way" type="text" placeholder="nome2Way">
  </label>
</div>


<button class="button button-positive" ng-click="$ctrl.confirm()">Manda conferma al padre</button>