<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/pp.jpg">
    <h2>Glue il Pappagallo</h2>
    <p>Scopriamo cosa fa!</p>
  </div>

  <div class="item item-image">
    <img src="img/p.jpg">
  </div>

  <a class="item item-icon-left assertive" ng-click="callParrot()">
    <i class="icon ion-happy-outline"></i>
    Ciao Pappagallo!
  </a>
  <a class="item item-icon-left assertive" ng-click="gimmeTime()">
    <i class="icon ion-clock"></i>
    Che ore sono?
  </a>
  <a class="item item-icon-left assertive" ng-click="faiDispetto()">
    <i class="icon ion-heart-broken"></i>
    Fai un dispetto!
  </a>
  

</div>
    
    <!--
    <div class="list">
      <label class="item item-input item-stacked-label">
    <span class="input-label">Input nel padre per il nome1Way</span>
    <input ng-model="padre.nome1Way" type="text" placeholder="nome1Way">
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Input nel padre per il nome2Way</span>
    <input  ng-model="padre.nome2Way" type="text" placeholder="nome2Way">
  </label>
    </div>
    <hr />
    <h3>Component</h3>
    <hello-component nome-stringa="Antonio" nome1-way="padre.nome1Way" nome2:way="padre.nome2Way" on-confirm="receiver(m)"></hello-component>
 -->
  </ion-content>
</ion-view>
